nav.navbar.navbar-expand-lg.navbar-light.bg-light.bg-custom
            .container
                a.navbar-brand(
                    href="#"
                )
                    img.logo(
                    src="assets/img/logo.svg"
                    )
                button.navbar-toggler(
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                )
                    span.navbar-toggler-icon
                .collapse.navbar-collapse#navbarTogglerDemo02
                    ul.navbar-nav.navbar-nav-custom.me-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(
                                aria-current="page"
                                href="#"
                            )
                                img.nav-img(
                                src="assets/img/home.svg"
                                )
                        li.nav-item
                            a.nav-link(
                                href="#"
                            )
                                img.nav-img(
                                    src="assets/img/messege.svg"
                                )
                        li.nav-item
                            a.nav-link(
                                href="#"
                            )
                                img.nav-img(
                                    src="assets/img/location.svg"
                                )
                        li.nav-item
                             a.nav-link(
                                href="#"
                                )
                                    img.nav-img(
                                        src="assets/img/like.svg"
                                    )
                        li.nav-item
                             a.nav-link(
                                href="#"
                                )
                                    img.nav-img.user__avatar_nav(
                                        src="assets/img/avatar.jpg"
                                    )
                    form.d-flex.form-custom
                        input.form-control.me-2.form-control_custom(
                            type="search"
                            placeholder="Search"
                            aria-label="Search")